################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MauiGraphicsDemo/.vs
/MauiGraphicsDemo/MauiGraphicsDemo/obj
/MauiGraphicsDemo/MauiGraphicsDemo/bin/Debug
/MauiGraphicsDemo/MauiGraphicsDemo/.vs
/MauiGraphicsDemo/MauiGraphicsDemo/startandroid.bat
/MeterGraphicsExample/obj
/MeterGraphicsExample/bin/Debug
/MeterGraphicsExample/.vs/MeterGraphicsExample
/MeterGraphicsExample/.vs/ProjectEvaluation
